.shopdetail-button-div {
    margin: 0 .3rem;
}

.shopdetail-button-div > .button {
    width: 30%;
    height: 1.5rem;
    line-height: 1.5rem;
    display: inline-block;
    margin: 1%;
    overflow: hidden;
}

#product-time, #point {
    color: #999;
    font-size: 14px;
}

#promotion-price {
    color: #ff0036;
    font-size: 16px;
    font-weight: bold;
}

#normal-price {
    color: #3d4145;
    font-size: 16px;
    font-weight: bold;
}

.img-detail {
    padding: 0 .50rem 0 .50rem;
}